@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background-color: #1D1D20 ;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  
}

.test {
  background-color: #FFE250;
}

.test2 {
  background-color: #1D1D20;
}







