@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background-color: #1D1D20 ;
  color: white;
  box-sizing: border-box;
  
}

.test {
  background-color: #fbf24c;
}

.test2 {
  background-color: #1D1D20;
}







