@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background-color: #1D1D20 ;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  
}

.test {
  background-color: #FFE250;
}

.test2 {
  background-color: #1D1D20;
}


.gradient-background {
  background: linear-gradient(300deg,#cf1fbd,#8400ff);
  background-size: 120% 120%;
  animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}






